{% load i18n %}

<div class="comment">
    <p class="text">{{ comment.text }}</p>
    <p class="info">
        <span class="date">
            <time class="timeago" datetime="{{ comment.created|date:"c" }}">{{ comment.created }}</time>
        </span>
        <span class="author">
            {% blocktrans with username=comment.user url=comment.user.get_absolute_url %}
                by <a href="{{ url }}">{{ username }}</a>
            {% endblocktrans %}
        </span>
    </p>
</div>
