{% if objects.paginator.num_pages > 1 %}
    <nav class="text-center">
        <ul class="pagination">
            {% if objects.has_previous %}
                <li>
                    <a href="?{{ param_name }}={{ objects.previous_page_number }}{{ anchor }}">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for i in objects.iter_pages %}
                <li {% if objects.number == i %}class="active"{% endif %}>
                    <a href="?{{ param_name }}={{ i }}{{ anchor }}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}

            {% if objects.has_next %}
                <li>
                    <a href="?{{ param_name }}={{ objects.next_page_number }}{{ anchor }}">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
