{% comment %}
    This template renders a single form field in the format required by
    bootstrap. This is a separate template because this is not only used in
    simple_form.html but also in other templates.

    field: a Field object.
{% endcomment %}

<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="id_{{ field.name }}">{{ field.label }}</label>
    {{ field }}
    <span class="help-block">{{ field.errors.as_text }}</span>
    <span class="help-block">{{ field.help_text|safe }}</span>
</div>
