{% comment %}
    This template renders global form errors in the format required by
    bootstrap. This is a separate template because this is not only used in
    simple_form.html but also in other templates.

    form: a Form object.
{% endcomment %}

{% for key, errors in form.errors.items %}
    {% if key == "__all__" %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
