$primary-color: #e42d2d;
$border-color: lighten($primary-color, 20%);
$border-gray: #ccc;
$color-dimmed: #ddd;
$border-radius: 4px;

/* --- Sticky footer --- */

html, body {
    height: 100%;
}

.footer {
    padding: 1em;
    margin-top: -3em;
    line-height: 1;

    p {
        margin: 0;
    }
}

#site {
    min-height: 100%;
}

#site>:last-child {
    padding-bottom: 4em; /* 3em footer + 1em padding */
}


/* --- Nav --- */

#body-index #nav-index .navbar-link,
#body-explore #nav-explore .navbar-link,
#body-add-photo #nav-add-photo .navbar-link {
    border-bottom: 3px solid $primary-color;
}

/* --- Home --- */

#body-index {
    .navbar, .footer {
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .navbar {
        top: 0;
    }

    .footer {
        bottom: 0;
    }

    #site>:last-child {
        padding-bottom: 0;
    }
}

#map {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* --- Map picker --- */

.map-picker {
    height: 250px;
    padding: 0;
}

.photo-form {
    .map-picker, textarea {
        height: 250px;
    }

    .upload-file {
        .photo-preview {
            margin: 0 auto;
            max-height: 600px;
        }
    }

    .upload-file.file-selected {
        border-color: transparent;
        padding: 1em;
        transition: all 1s;

        .tip {
            display: none;
        }
    }

    .upload-file:hover {
        border-color: $border-color;
        outline: 0 none;
    }

    input[type=file] {
        display: none;
    }
}

.upload-file {
    padding: 3em;
    font-size: 20px;
    text-align: center;
    border: 1px solid $border-gray;
    border-radius: $border-radius;
    margin-bottom: 1em;
    cursor: pointer;
}

.upload-file.collapsed {
    padding: 1em;
    transition: padding 1s;
}

.upload-file:hover {
    border-color: $border-color;
    outline: 0 none;
}

/* --- Current photo editor --- */

.current-photo-tip {
    .panel-body {
        display: flex;
    }

    img {
        border-radius: $border-radius;
    }

    img {
        max-height: 200px;
        margin-right: 10px;
        display: block;
    }

    .map {
        height: 200px;
        flex: 1;
    }
}

.current-photo-step {
    margin: 2em 0;

    h1 {
        font-size: 20px;
        text-align: center;
    }
}

.editor-canvas-wrapper, .comparison-canvas-wrapper {
    canvas {
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid $border-gray;
    }
}


.editor-canvas-wrapper {
    canvas {
        cursor: crosshair;
    }

    canvas:active {
        cursor: move;
    }
}

.comparison-canvas-wrapper {
    canvas {
        cursor: col-resize;
    }
}

.add-current-photo-button {
    display: block;
    margin: 0 auto;
}

/* --- Photo --- */

.loading-indicator {
    text-align: center;
    margin: 1em 0;

    i {
        font-size: 50px;
    }
}

.photo-about {
    .action {
        float: right;
        margin-left: 5px;
    }
}

.current-photo:first-child {
    margin-top: 10px;
}

.current-photo {
    margin-top: 30px;
    display: flex;
    border-left: 2px solid transparent;

    .image {
        width: auto;
        max-height: 200px;
        max-width: 100%;
        cursor: pointer;
    }

    .about {
        align-self: center;
    }

    .vote-button {
        cursor: pointer;
        font-size: 22px;

        .score {
            display: inline-block;
            font-size: 26px;
        }
    }

    .vote-button:hover, .vote-button.upvoted {
        color: $primary-color;
    }

    .votes.voted {
        color: $primary-color;
    }
}

.current-photo.selected {
    border-left: 2px solid $primary-color;
}

.photo-container {
    background-color: #eee;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 40px 0;
    position: relative;

    .loading-indicator {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        color: #fff;
        margin-top: 80px;

    }
}

.photo-map {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.comment {
    .info {
        text-align: right;
    }
}

.comment-form {
	margin-bottom: 10px;

	textarea {
		height: 100px;
	}
}

.photo-vote-button {
    cursor: pointer;
}

.photo-vote-button:hover, .photo-vote-button.upvoted {
    color: $primary-color;
}

/* --- Profile --- */

.profile-map {
    height: 250px;
}

.user-row {
    margin-bottom: 20px;
}

.user-nav {
    margin-bottom: 20px;
}

/* --- Grid --- */

.grid-item {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}


@media (max-width: 1000px) {
    .grid-item {
        width: 33%;
    }
}

@media (max-width: 800px) {
    .grid-item {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .grid-item {
        width: 100%;
    }
}

/* --- Explore --- */

.explore-map {
    height: 250px;
}

/* --- Global --- */

.map {
    .ol-viewport {
        border: 1px solid $border-gray;
        border-radius: $border-radius;
    }
}

// Those are always on top of the page anyway and they look better that way.
h1 {
    margin-top: 0;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.navbar-link {
    color: inherit;
    border-bottom: 3px solid transparent;
}

.navbar-link:hover {
    color: inherit;
    border-bottom: 3px solid $primary-color;
}

.navbar-nav > li > a {
    padding: 20px 10px 5px 10px;
    margin: 0px 5px 7px 5px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.navbar-brand {
    color: inherit;
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    padding: 15px;
}

.navbar-brand:hover {
    color: inherit;
}

.form-control:focus {
    box-shadow: none;
    border-color: $border-color;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover {
    background-color: darken($primary-color, 20%);
    border-color: darken($primary-color, 20%);
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: darken($primary-color, 30%);
    border-color: darken($primary-color, 30%);
    color: #fff;
}

.navbar-toggle {
    border-color: $border-gray;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

.dropdown-toggle {
    color: inherit;
}

.dropdown-toggle:hover {
    color: $primary-color;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: $primary-color;
    background-color: transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: $primary-color;
    color: #fff;
}

a {
    color: $primary-color;
}

a:hover {
    color: darken($primary-color, 20%);
}

.hidden {
    display: none;
}

.dimmed {
    color: $color-dimmed;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: $primary-color;
    border-color: $primary-color;
}

.pagination>li>a,
.pagination>li>span {
    color: $primary-color;
}
