{% load i18n %}

<ul class="nav nav-pills nav-stacked">
    <li role="presentation" {% if active == "profile" %}class="active"{% endif %}>
        <a href="{% url "gallery:auth:edit_profile" %}">{% trans "Profile" %}</a>
    </li>
    <li role="presentation" {% if active == "account" %}class="active"{% endif %}>
        <a href="{% url "gallery:auth:edit_account" %}">{% trans "Account" %}</a>
    </li>
</ul>
