{% extends "gallery/base.html" %}
{% load i18n %}

{% block head %}
    {% if photo %}
        <script>
            var historicalImageUrl = "{{ photo.image.url }}";
            var uploadAPIUrl = "{% url "gallery:api:add_current_photo" photo.pk %}";
            $(function() {
                mainAddCurrentPhoto();
            });
        </script>
    {% endif %}
{% endblock %}

{% block body_id %}body-add-curent-photo{% endblock %}

{% block content %}
    <div class="container">
        {% if not photo or current_photo %}

            <div class="alert alert-danger" role="alert">
                {% if not photo %}
                    <p>{% trans "This historical photo no longer exists." %}</p>
                {% endif %}

                {% if current_photo %}
                    <p>{% trans "You have already uploaded a photo of this location." %}</p>
                    <p><a href="{{ current_photo.get_absolute_url }}">{% trans "See it here." %}</a></p>
                {% endif %}
            </div>

        {% else %}

            <div class="panel panel-default current-photo-tip" role="alert">
                <div class="panel-heading">
                    {% trans "You are uploading a current photo of this location" %}
                </div>
                <div class="panel-body">
                    <img src="{{ photo.image.url }}">
                    <div class="map" id="photo-map" lon="{{ photo.lon }}" lat="{{ photo.lat }}"></div>
                </div>
            </div>

            <div id="upload-file" class="upload-file">
                <div class="tip">{% trans "1. Click here to select a photo" %}</div>
            </div>

            <div class="editor-canvas-wrapper current-photo-step hidden">
                <h1>{% trans "2. Align the photos" %}</h1>
                <canvas id="editor-canvas"></canvas>
                <input id="editor-transparency-input" type="range" min="0" max="100" step="1" title="{% trans "Opacity" %}">
            </div>

            <div class="comparison-canvas-wrapper current-photo-step hidden">
                <h1>{% trans "3. See the results" %}</h1>
                <canvas id="comparison-canvas"></canvas>
            </div>

            <div class="current-photo-step hidden">
                <button type="button" class="btn btn-default btn-lg add-current-photo-button" id="upload-button" data-loading-text="{% trans "Uploading..." %}">
                    {% trans "Upload the photo" %}
                </button>
            </div>

            <input class="hidden" type="file" name="image">

            {% csrf_token %}

        {% endif %}
    </div>
{% endblock %}
