{% extends "gallery/base.html" %}
{% load i18n %}

{% block head %}
    <script>
        $(function() {
            mainAddPhoto();
        });
    </script>
{% endblock %}

{% block body_id %}body-add-photo{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data" class="photo-form">
            {% csrf_token %}

            {% include "gallery/snippets/simple_form_errors.html" %}

            <div id="upload-file" class="upload-file">
                <div class="tip">{% trans "Click here to select a photo" %}</div>
                <img class="img-responsive photo-preview" id="upload-file-preview">

                {% if form.photo.errors %}
                    <div class="form-group has-error">
                        <span class="help-block">{{ form.image.errors.as_text }}</span>
                    </div>
                {% endif %}
            </div>

            {{ form.image }}
            {{ form.lat }}
            {{ form.lon }}

            <div class="row">
                <div class="col-md-6">
                    {% include "gallery/snippets/simple_form_field.html" with field=form.description %}
                </div>

                <div class="col-md-6">
                    {% include "gallery/snippets/map_picker.html" %}
                </div>
            </div>

            <button type="submit" class="btn btn-default">{% trans "Upload" %}</button>
        </form>
    </div>
{% endblock %}
