{% extends "gallery/base.html" %}
{% load i18n %}

{% block head %}
    <script>
        $(function() {
            mainEditPhoto();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" class="photo-form">
            {% csrf_token %}

            {% include "gallery/snippets/simple_form_errors.html" %}

            {{ form.lat }}
            {{ form.lon }}

            <div class="row">
                <div class="col-md-6">
                    {% include "gallery/snippets/simple_form_field.html" with field=form.description %}
                </div>

                <div class="col-md-6">
                    {% include "gallery/snippets/map_picker.html" %}
                </div>
            </div>

            <button type="submit" class="btn btn-default">{% trans "Save" %}</button>
        </form>
    </div>
{% endblock %}
