{% extends "gallery/base.html" %}
{% load i18n %}

{% block head %}
    <script>
        $(function() {
            mainExplore();
        });
    </script>
{% endblock %}

{% block body_id %}body-explore{% endblock %}

{% block content %}
    <div class="container">
        <div class="map explore-map" id="explore-map" lon="{{ lon }}" lat="{{ lat }}"></div>
        <h2 class="text-center">{% trans "Interesting photos from this area:" %}</h2>
        <div class="grid">
            {% for photo in photos %}
                <div class="grid-item">
                    <a href="{{ photo.get_absolute_url }}">
                        <img class="img-responsive" src="{{ photo.image.url }}">
                    </a>
                    <p>
                        {% blocktrans with score=photo.score %}
                            {{ score }} points
                        {% endblocktrans %}
                    </p>
                </div>
            {% empty %}
                {% trans "No photos in this area." %}
            {% endfor %}
        </div>
        {% include "gallery/snippets/pagination.html" with objects=photos param_name="page" %}
    </div>
{% endblock %}
