{% extends "gallery/base.html" %}
{% load i18n %}
{% load votes %}

{% block head %}
    <script>
        var historicalImageUrl = "{{ photo.image.url }}";
        var voteAPIUrl = "{% url "gallery:api:vote_photo" %}";
        var currentVoteAPIUrl = "{% url "gallery:api:vote_current_photo" %}";
        $(function() {
            mainPhoto();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="photo-container">
        <div class="container">
            <div class="loading-indicator">
                <i class="fa fa-spinner fa-spin"></i>
            </div>

            <canvas id="photo-canvas"></canvas>
        </div>
    </div>

    <div class="container">
        {% if should_compare and not compare_to %}
        {% endif %}

        <div class="row">
            <div class="col-md-5 col-md-push-7">
                {% if should_compare %}
                    <h2>{% trans "Linked current photo" %}</h2>
                    {% if compare_to %}
                        <div id="permalinked-current-photo">
                            {% include "gallery/core/snippets/current_photo.html" with current_photo=compare_to %}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            {% trans "The photo selected for comparison doesn't exist." %}
                            {% if current_photos %}
                                {% trans "A different photo was loaded instead." %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}

                {% if your_current_photo %}
                    <h2>{% trans "Your current photo" %}</h2>
                    {% include "gallery/core/snippets/current_photo.html" with current_photo=your_current_photo %}
                {% endif %}

                <h2 id="current-photos">
                    {% trans "Current photos" %}
                    <a class="btn {% if current_photos %}btn-default{% else %}btn-primary{% endif %} pull-right"
                       href="{% url "gallery:core:add_current_photo" pk=photo.pk %}">
                        {% trans "Add a current photo" %}
                    </a>
                </h2>

                <div id="current-photos-list">
                    {% for current_photo in current_photos %}
                        {% include "gallery/core/snippets/current_photo.html" with current_photo=current_photo %}
                    {% empty %}
                        <div class="alert alert-danger" role="alert">
                            <p>{% trans "There are no current photos of this location available. Be the first one to upload a photo." %}</p>
                        </div>
                    {% endfor %}
                </div>

                {% include "gallery/snippets/pagination.html" with objects=current_photos anchor="#current-photos" param_name="photos_page" %}
            </div>

            <div class="col-md-7 col-md-pull-5">
                <h2>
                    {% trans "About" %}
                    {% photo_upvoted user=user as upvoted %}
                    <div class="pull-right photo-vote-button {% if upvoted %}upvoted{% endif %}" photo_id="{{ photo.pk }}">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                        <span class="score">{{ photo.score }}</span>
                    </div>
                </h2>

                <div class="map photo-map" id="photo-map" lon="{{ photo.lon }}" lat="{{ photo.lat }}"></div>

                <div class="photo-about">
                    <p>
                        <span class="date">
                            <time class="timeago" datetime="{{ photo.created|date:"c" }}">{{ photo.created }}</time>
                        </span>
                        <span class="author">
                            {% blocktrans with username=photo.user url=photo.user.get_absolute_url %}
                                by <a href="{{ url }}">{{ username }}</a>
                            {% endblocktrans %}
                        </span>

                        {% if request.user == photo.user %}
                            <a href="{% url "gallery:core:edit_photo" photo.pk %}" class="action">
                                <span class="glyphicon glyphicon-pencil"></span>
                                {% trans "Edit" %}
                            </a>

                            <a href="{% url "gallery:core:remove_photo" photo.pk %}" class="action">
                                <span class="glyphicon glyphicon-remove"></span>
                                {% trans "Remove" %}
                            </a>
                        {% endif %}

                        <a href="{{ photo.image.url }}" target="_blank" class="action">
                            <span class="glyphicon glyphicon-download-alt"></span>
                            {{ photo.image.width }} x {{ photo.image.height }}
                        </a>
                    </p>

                    <p class="description">
                        {% if photo.description %}
                            {{ photo.description }}
                        {% else %}
                            {% trans "No description provided." %}
                        {% endif %}
                    </p>
                </div>

                <h2 id="comments">{% trans "Comments" %}</h2>

                {% if user.is_authenticated %}
                    <form method="POST" class="comment-form">
                        {% csrf_token %}
                        {% include "gallery/snippets/simple_form_errors.html" %}
                        <div class="form-group {% if form.text.errors %}has-error{% endif %}">
                            {{ form.text }}
                            <span class="help-block">{{ form.text.errors.as_text }}</span>
                            <span class="help-block">{{ form.text.help_text|safe }}</span>
                        </div>
                        <button type="submit" class="btn btn-default">{% trans "Add comment" %}</button>
                    </form>
                {% endif %}

                {% for comment in comments %}
                    {% include "gallery/core/snippets/comment.html" %}
                {% empty %}
                    {% trans "No comments." %}
                {% endfor %}

                {% include "gallery/snippets/pagination.html" with objects=comments anchor="#comments" param_name="comments_page" %}

                {% csrf_token %}

            </div>
        </div>
    </div>
{% endblock %}
