{% extends "gallery/base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans with username=profile %}User {{ username }}{% endblocktrans %}
{% endblock %}

{% block head %}
    <script>
        $(function() {
            mainProfile();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {{ profile }}

            {% if profile == user %}
                <a href="{% url "gallery:auth:edit_profile" %}" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit profile
                </a>
            {% endif %}
        </h1>

        <div class="row user-row">
            {% if profile.userdata.should_display_location %}
                <div class="col-md-6">
                    <div class="map profile-map" id="profile-map" lon="{{ profile.userdata.lon }}" lat="{{ profile.userdata.lat }}"></div>
                </div>
                <div class="col-md-6">
            {% else %}
                <div class="col-md-12">
            {% endif %}
                <p>
                    {% if profile.userdata.about_me %}
                        {{ profile.userdata.about_me }}
                    {% else %}
                        <span class="text-muted">{% trans "This user hasn't written an about me section." %}</span>
                    {% endif %}
                </p>
            </div>
        </div>

        <ul class="nav nav-tabs user-nav">
            <li {% block photos_class %}{% endblock %}>
                <a href="{% url "gallery:core:profile_photos" profile.pk %}">
                    {% trans "Historical photos" %}
                </a>
            </li>

            <li {% block current_photos_class %}{% endblock %}>
                <a href="{% url "gallery:core:profile_current_photos" profile.pk %}">
                    {% trans "Current photos" %}
                </a>
            </li>

            <li {% block comments_class %}{% endblock %}>
                <a href="{% url "gallery:core:profile_comments" profile.pk %}">
                    {% trans "Comments" %}
                </a>
            </li>
        </ul>

        {% block profile_content %}{% endblock %}
    </div>
{% endblock %}
