{% extends "gallery/core/profile.html" %}
{% load i18n %}

{% block photos_class %}class="active"{% endblock %}

{% block profile_content %}
    <div class="grid">
        {% for photo in photos %}
            <div class="grid-item">
                <a href="{{ photo.get_absolute_url }}">
                    <img class="img-responsive" src="{{ photo.image.url }}">
                </a>
            </div>
        {% empty %}
            {% trans "No photos." %}
        {% endfor %}
    </div>
    {% include "gallery/snippets/pagination.html" with objects=photos param_name="page" %}
{% endblock %}
