{% extends "gallery/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        {% if errors %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% else %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {% trans "The photo will be deleted permanently. You will not be able to recover it. Do you wish to proceed?" %}
                </div>
                <div class="panel-body">
                    <form method="POST">
                        <button type="submit" class="btn btn-danger">
                            {% trans "Remove the photo permanently" %}
                        </button>
                        <a class="btn btn-default" href="{{ photo.get_absolute_url }}">
                            {% trans "Cancel" %}
                        </a>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
